html, body { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


a {
    color: black;
    text-decoration: none;
  }


  .navigation {
    position: fixed;
    top: 0px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
    z-index: 1;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.monitors {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}

.monitorLink {
    transition-duration: .2s;
    flex: 1;
    text-align: center;
    padding: 10px 0;
    
}
.monitorLink:hover{
    transition-duration: .2s;
    font-size: 27px;
    font-weight: 500;
}



.smartphones{
    display: none;
    align-items: center;
    justify-content: center;
}

.smartphones img{
    width: 50px;
    height: 50px;
}

.mainPage{
    max-width: 1000px;
    margin: 0 auto;
    margin-top:50px;
    padding: 0 20px;
}

.home{
    height: 100px;
    display: flex;
}
.homeInfo{
    width: 300px;
}
.otherInfo{
    font-size: 20px;
    font-weight: 300;
}



.myPhotos{
    border-radius: 25px;
    max-width: 100%;
    height: 450px;
    background-image: url('https://sun9-west.userapi.com/sun9-1/s/v1/ig2/Q_9aWNVqTEM_u2UNvrNR_IvdtH-Rk2R9FiSoXy0wy44SP73wKAWA6tRBzpDjoqcZA8995icNWY-mKIABbnnp1IXc.jpg?size=1280x974&quality=95&type=album');
    background-position: center 25%;
    background-size: cover;
}

.aboutMe{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom:10px;
    text-align: center;
}



.mySkills{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.mySkills table{
    width: 100%;
}



.iconSkills{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.iconStars{
    display: inline;
    padding-top: 15px;
    width: 20px;
    height: 20px;
}

.img-black-color{
    filter: sepia();
}

.contacts{
    text-align: center;
}

.contacts table{
    margin: auto;
}
.contacts img{
    width: 30px;
    height: 30px;
}

.head{
    background-color: rgba(225, 235, 245, 0.31);  
    border-radius:10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.074);
}

.vertical-right-line{
    border-right: 1px solid black;
}
.horizontal-line-upper{
    width: 100%;
    border-top: 1px solid black;
}


@media(max-width:850px){
    .resumePage{
        width: 800px;
    }
    .mySkills td{
        display:block;
    }
}


@media(max-width:650px){
    .resumePage{
        width: 650px;
    }
  .myPhotos{
      height: 200px;
  }
}

@media(max-width:400px){
    .resumePage{
        width: 400px;
    }
    .monitors{
        display: none;
    }
     .smartphones{
         display: flex;
     }
    .homeInfo{
        display: block;
    }
    .home{
        padding-bottom:30px;
    }
    .otherInfo{
        padding-left:0%;
    }
    .myPhotos{
        background-position: center left;
    }
    .iconSkills{
        width: 60px;
        height: 60px;
    }
    .iconStars
    {
        width: 15px;
        height: 15px;
    }

}